<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
              Logout
            </a>
          </div>
        </div>
      </nav>

<div class="container">

    {{!-- header --}}
    <div class="row">
        <div class="col-12">
                <h1 id="h1"><center>The Nxt One</center> </h1>
            <div class="image-container">
                    <img src="img/breweryHome.JPEG" alt="Beer image" />
                <h1 class="display-4">
                    
                    <p class="lead"></p>
            </div>
        </div>
    </div>
		
	</div> <!-- header row -->

	<div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-topper border-bottom">
                            <h5 class="card-title "><i class="fa fa-list-alt" aria-hidden="true"></i>
                                Brewery Search</h5>
                        </div>
                        <!-- start of the form -->
                        <form>
                            <div class="form-group">
                                <label for="searchfield">City:</label>
                                <input class="form-control" id="search-term" aria-describedby="searchfield">
                            </div>
                            <!-- search button -->
                            <button id="searchBtn" class="btn btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i> Search
                            </button>
                        
                        </form>
                    </div>
                </div> <!-- end of card -->
            </div>
        </div> <!-- end of first row-->


        <!-- third row-->
        <div class="row">
            <div class="col-12">
                <!-- second card -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Breweries: </h5>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<!-- second search -->

    {{!-- <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-topper border-bottom">
                            <h5 class="card-title "><i class="fa fa-list-alt" aria-hidden="true"></i>
                                Beer Search</h5>
                        </div>
                        <!-- start of the form -->
                        <form>
                            <div class="form-group">
                                <label for="searchfield">City:</label>
                                <input class="form-control" id="search-term" aria-describedby="searchfield">
                            </div>
                            <!-- search button -->
                            <button id="searchBtn" class="btn btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i> Search
                            </button>
                        
                        </form>
                    </div>
                </div> <!-- end of card -->
            </div>
        </div> <!-- end of first row-->

 
        <!-- third row-->
        <div class="row">
            <div class="col-12">
                <!-- second card -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fa fa-file-text-o" aria-hidden="true"></i>
                            Recommended beer: </h5>
                        <div class="results"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div> --}}

    <script type="text/javascript" src="js/beersearch.js"></script>

        
    
        
    