<div class="container">

    {{!-- header --}}
    <div class="row">
        <div class="col-12">
                <h1 id="h1"><center>The Nxt One</center> </h1>
            <div class="image-container">
                    <img src="img/breweryHome.JPEG" alt="Beer image" />
                <h1 class="display-4">
                    
                    <p class="lead"></p>
            </div>
        </div>
    </div>
		
	</div> <!-- header row -->

	<div class="row orderup  text-center">
		<input type="text" class="form-control" id="name" placeholder="My delicious burger is called..."><button type="submit" id="submit">Order up!</button>
	</div> <!-- survey row -->

	<div class="row"> <!-- burgers -->
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- left column -->
			<h1 id="left">To Be Eaten...</h1>
			{{#each burgers}}
			{{#unless devoured}}
			<div class="burgerblock">
				<img src="./assets/img/burger.png" class="tinyicon burgericon"><img src="./assets/img/eat.png" class="tinyicon eaticon" data-id="{{this.id}}"><h2>{{burger_name}}</h2>
			</div>
			{{/unless}}
			{{/each}}
		</div> <!-- left column -->

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6"> <!-- right column -->
			<h1 id="right">Already Devoured!</h1>
			{{#each burgers}}
			{{#if devoured}}
			<div class="burgerblock">
				<img src="./assets/img/burger.png" class="tinyicon burgericon eaten"><img src="./assets/img/waiter.png" class="tinyicon waitericon" data-id="{{this.id}}"><h2>{{burger_name}}</h2>
			</div>
			{{/if}}
			{{/each}}
		</div> <!-- right column -->
	</div>